@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;900&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

/* :root {
  --brut-bg: #ffffff;
  --brut-text: #000000;
  --brut-card: #f9f9f9;
  --brut-border: #eeeeee;
  --brut-hover: #f1f1f1;
}

[data-theme='dark'] {
  --brut-bg: #000000;      
  --brut-text: #efefef; 
  --brut-card: #0e0e0e;    
  --brut-border: #1d1d1d;  
  --brut-hover: #1a1a1a;   
}  */

:root {
    --brut-white: #ffffff;
    --brut-black: #000000;
    --brut-bg: #ffffff;
    --brut-text: #000000;
    --brut-border: #e8e8e8;
    --brut-card: #f9f9f9;
    --brut-hover: #f1f1f1;
    --brut-accent: #0F0F0F; /* Initial accent */
}

[data-theme='dark'] {
    --brut-bg: #0F0F0F;      /* Inkwell Background */
    --brut-card: #2A2A2A;    /* Lunar Eclipse Surface */
    --brut-accent: #474145;  
    --brut-text: #ffffff;
    --brut-border: #333333;
    --brut-hover: #3a3a3a;
    --brut-white: #ffffff;   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--brut-bg);
  color: var(--brut-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

/* Force Full Color for all images */
img {
  filter: none !important;
  display: block;
}

h1, h2, h3, h4 {
  letter-spacing: -1px;
}